<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/add-product" class="btn btn-success ml-auto" >Add Product</a>
        </div>
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
    <th >image</th>

    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.productName}}</td>
      <td>{{this.category}}</td>
      <td>{{this.price}}</td>
      <td>{{this.description}}</td>
      <td><img  style="width:50px;height:50px" src="/product-images/{{this._id}}.jpg" alt=""></td>
      <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a></td>
      <td><a href="/admin/delete-product?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{this.productName}} ?')">Delete</a></td>
    </tr>
{{/each}}

  </tbody>
</table>
    </div>
</section>